<!-- raw html -->
<div class="photo-gallery-container">
  <ul class="photo-gallery-menu">
    {{- range .Site.Menus.photography }}
    <li>
      <a class="{{ if ($.Page.HasMenuCurrent "photography" .) }}selected{{ end }}" href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{- end }}
  </ul>

  <div class="photo-gallery">
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {{ .Inner }}
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    new Splide(".splide", {
      type: "fade",
      perPage: 1,
      autoWidth: true,
      lazyLoad: "nearby",
    }).mount();
  })();
</script>
